<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>神奇的耗子君</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/megamenu.css" />
    <link rel="Shortcut Icon" href="favicon.ico">
</head>
<body id="app">
    <section class="page-header">
        <h1 class="project-name">{{projectName}}</h1>
        <h2 class="project-tagline">{{tagline}}</h2>
    </section>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="grid" v-for="package in packages">
                        <a class="color1" href="#{{package.name}}">{{package.title}}</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col6">
                                    <div class="h_nav">
                                        <ul>
                                            <li v-for="item in package.items"><a href="#{{item.name}}">{{item.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="close1x" href="#">×</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <section class="main-content">
        <div class="region" v-for="package in packages">
            <h3 id="{{package.name}}">{{package.name}}</h3>
            <ol class="list">
                <li v-for="item in package.items">
                    <div id="{{item.name}}">
                        <strong>{{item.name}}</strong> {{item.description}}
                    </div>
                    <div>
                        <div>
                            GitHub: <a href="https://github.com/{{item.github}}">https://github.com/{{item.github}}</a>
                        </div>
                        <div>
                            NuGet: <a href="https://www.nuget.org/packages/{{item.nuget}}">https://www.nuget.org/packages/{{item.nuget}}</a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <!--
        <h3>技术支持</h3>

        <p>Having trouble with Pages? Check out our <a href="https://help.github.com/pages">documentation</a> or <a href="https://github.com/contact">contact support</a> and we’ll help you sort it out.</p>
        -->
        <footer class="site-footer">
            <span class="site-footer-credits">
                本页面由{{author}}编辑
                微博：<a href="http://weibo.com/gsh1366143">神奇的耗子君</a>
            </span>
        </footer>
    </section>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.pin.js"></script>
    <script src="js/megamenu.js"></script>
    <script>
        $(document).ready(function () {
            $(".megamenu").megamenu();
            $(".mega_nav").pin();
            $(".close1x").on("click", function () { $(".pin-wrapper").remove(); });
        });
    </script>
</body>
</html>
